.wrapper {
    padding: 0.1em 0;
    
}
.table {
    display: inline-table;
    vertical-align: top;
    border-collapse: collapse;
    font-size: 90%;
    margin-top: 0.1em;
    
}
.cell {
    padding: 0.2em 0.5em;
    text-align: center;
    vertical-align: top;
    position: relative;
}
