.wrapper {
    display: inline-block;
    vertical-align: top;
}

.bottom,
.top {
    font-size: 90%;
    display: block;
    text-align: center;
    width: 100%;
    padding: 0 0.4em;
}

.separator {
    display: block;
    background: currentColor;
    width: 100%;
    border-top: 0.06em solid currentColor;
}
