@import './fonts';

$line-border: 0.08em solid currentColor;

.equation {
    display: inline-block;
    line-height: 1.4;
    font-family: 'MathJax', 'Times New Roman', serif;
    // * {
    //     background: rgba(0, 0, 255, 0.05);
    // }
}

.fraction-wrapper {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    position: relative;
}

.fraction-bottom,
.fraction-top {
    font-size: 90%;
    display: block;
    text-align: center;
    width: 100%;
    padding: 0 0.4em;
}

.fraction-separator {
    font-size: 90%;
    position: absolute;
    display: block;
    background: currentColor;
    width: 100%;
    border-top: $line-border;
}

.operator {
    &.operator-minus,
    &.operator-plus {
        padding: 0 0.3em;
    }

    &.operator-plusminus {
        padding: 0 0.3em;
    }

    &.operator-multi-dot {
        padding: 0 0.15em;
    }
    &.operator-multi-implied {
        padding: 0 0.1em;
    }

    &.operator-division {
        padding: 0 0.3em;
    }
}

.minus-standalone {
    padding: 0 0.1em;
}
.plusminus-standalone {
    padding: 0 0.1em;
}

.power {
    font-size: 70%;
    display: inline-block;
    vertical-align: top;
}

.equals {
    padding: 0 0.3em;
}

.variable {
    font-style: italic;
}

.function-abs {
    display: inline-block;
    position: relative;
    padding: 0 0.3em;
    &:before,
    &:after {
        content: ' ';
        display: block;
        position: absolute;
        border-left: $line-border;
        top: 0.2em;
        height: calc(100% - 0.4em);
    }
    &:before {
        left: 0.1em;
    }
    &:after {
        right: 0.1em;
    }
}

.function-sum {
    position: relative;
    display: inline-block;

    .function-sum-block {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        vertical-align: top;
    }

    .function-sum-icon {
        line-height: 0.8;
        font-size: 2.25em;
        padding: 0 0.1em;
        position: relative;
        top: 1px;
    }

    .function-sum-bottom,
    .function-sum-top {
        font-size: 80%;
    }
}
