@mixin mathjax-font($name, $style) {

    src: url('https://cdn.mathjax.org/mathjax/2.7-latest/fonts/HTML-CSS/TeX/eot/MathJax_#{$name}-#{$style}.eot');
    /* IE9 Compat Modes */
    src:
        url('https://cdn.mathjax.org/mathjax/2.7-latest/fonts/HTML-CSS/TeX/eot/MathJax_#{$name}-#{$style}.eot?iefix') format('eot'),
        url('https://cdn.mathjax.org/mathjax/2.7-latest/fonts/HTML-CSS/TeX/woff/MathJax_#{$name}-#{$style}.woff') format('woff'),
        url('https://cdn.mathjax.org/mathjax/2.7-latest/fonts/HTML-CSS/TeX/otf/MathJax_#{$name}-#{$style}.otf') format('opentype'),
        url('https://cdn.mathjax.org/mathjax/2.7-latest/fonts/HTML-CSS/TeX/svg/MathJax_#{$name}-#{$style}.svg#MathJax_#{$name}-#{$style}') format('svg');
}

@font-face {
    font-family: 'MathJax';
    font-style: italic;
    font-weight: normal;
    @include mathjax-font('Math', 'Regular');
    unicode-range:
        // A-Z
        U+0041-005A,
        // a-z
        U+0061-007A,
        // α-ω, only lowercase greek from this font
        U+03B1-03C9,
        // Special greek letters
        U+03D1, U+03D5, U+03D6, U+03F1, U+03F5;
}

@font-face {
    font-family: 'MathJax';
    font-style: italic;
    font-weight: normal;
    @include mathjax-font('Main', 'Regular');

    // Select greek capital letters, to avoid italics
    unicode-range: U+0393, U+0394, U+0398, U+039B, U+039E, U+03A0, U+03A3, U+03A5, U+03A6, U+03A8, U+03A9;
}

@font-face {
    font-family: 'MathJax';
    font-style: normal;
    font-weight: normal;
    @include mathjax-font('Main', 'Regular');
}
